/* Color Theme Swatches in Hex */
.GEDAAM-primary-hex { color: #34D09E; }
.GEDAAM-info-hex { color: #78ADDD; }
.GEDAAM-success-hex { color: #9CD654; }
.GEDAAM-warning-hex { color: #F0E22A; }
.GEDAAM-rose-hex { color: #CC648A; }
.GEDAAM-danger-hex { color: #F3785E; }

/* Color Theme Swatches in RGBA */
.GEDAAM-1-rgba { color: rgba(52, 208, 158, 1); }
.GEDAAM-2-rgba { color: rgba(120, 173, 221, 1); }
.GEDAAM-3-rgba { color: rgba(156, 214, 84, 1); }
.GEDAAM-4-rgba { color: rgba(240, 226, 42, 1); }
.GEDAAM-5-rgba { color: rgba(204, 100, 138, 1); }

/* Color Theme Swatches in HSLA */
.GEDAAM-1-hsla { color: hsla(160, 62, 50, 1); }
.GEDAAM-2-hsla { color: hsla(208, 59, 66, 1); }
.GEDAAM-3-hsla { color: hsla(86, 61, 58, 1); }
.GEDAAM-4-hsla { color: hsla(55, 86, 55, 1); }
.GEDAAM-5-hsla { color: hsla(338, 50, 59, 1); }
