// Bootstrap brand color customization
$brand-primary: #34D09E !default;
$brand-success: #9CD654 !default;
$brand-danger: #F3785E !default;
$brand-warning: #F0E22A !default;
$brand-info: #78ADDD !default;
$brand-rose: #CC648A !default;
