/* Color Theme Swatches in Hex */
.GEDAAM-primary-hex { color: #34D09E; }
.GEDAAM-info-hex { color: #78ADDD; }
.GEDAAM-success-hex { color: #9CD654; }
.GEDAAM-warning-hex { color: #F0E22A; }
.GEDAAM-rose-hex { color: #CC648A; }
.GEDAAM-danger-hex { color: #F3785E; }

